/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Montserrat', sans-serif; */

* {
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

div#about {
    scroll-behavior: smooth;
}

.Typewriter {
    display: inline;
}

.Typewriter__cursor {
    color: #1b73f4;
}

.link-section {
    box-shadow: -20px -3px 147px 393px #0000007d !important;
    transition-property: right;
}

.empty-box {
    background-image: linear-gradient(145deg, #e2e8ec, #ffffff);
}