/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Montserrat', sans-serif; */

* {
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.scroll-to-top {
    -webkit-animation: roll-in-blurred-bottom 1.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: roll-in-blurred-bottom 1.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.scroll-to-top.down {

    -webkit-animation: roll-out-bottom .4s ease-in both;
    animation: roll-out-bottom .4s ease-in both;
    /* transition-delay: .5s; */
}

div#home.active {
    padding-top: calc(2.5rem + 72px);
}

div#about {
    scroll-behavior: smooth;
}

.Typewriter {
    display: inline;
}

.Typewriter__cursor {
    color: #1b73f4;
}

.link-section {
    box-shadow: -20px -3px 147px 393px #0000007d !important;
    transition-property: right;
}

.empty-box {
    background-image: linear-gradient(145deg, #e2e8ec, #ffffff);
}

@keyframes roll-in-blurred-bottom {
    0% {
        -webkit-transform: translateY(800px) rotate(720deg);
        transform: translateY(800px) rotate(720deg);
        -webkit-filter: blur(50px);
        filter: blur(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) rotate(0deg);
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
}

@keyframes roll-out-bottom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(380deg);
        transform: rotate(380deg);
        opacity: 0;
    }
}