/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Montserrat', sans-serif; */


:root {
    --blueHover: #1b73f4;
    --violetHover: #e80dfd;
    --gr-left-gray: #e2e8ec;
    --gr-right-gray: #ffffff;
    --darkBlueHover: #2428cc;
    --lightBlueHover: #7376ff;
}

* {
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    overflow-x: hidden;
}

.scroll-to-top {
    -webkit-animation: roll-in-blurred-bottom 1.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: roll-in-blurred-bottom 1.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.scroll-to-top.down {

    -webkit-animation: roll-out-bottom .4s ease-in both;
    animation: roll-out-bottom .4s ease-in both;
    /* transition-delay: .5s; */
}

div#home.active {
    padding-top: calc(2.5rem + 72px);
}

div#about {
    scroll-behavior: smooth;
}

.Typewriter {
    display: inline;
}

.Typewriter__cursor {
    color: #1b73f4;
}

.link-section {
    box-shadow: -20px -3px 147px 393px #0000007d !important;
    transition-property: right;
}

.empty-box {
    background-image: linear-gradient(145deg, var(--gr-left-gray), var(--gr-right-gray));
}

.empty-box.about-me::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-image: linear-gradient(145deg, var(--blueHover), var(--lightBlueHover));
}

.empty-box.about-me.a1::before {
    transition-duration: .3s;
    transition-delay: 0.1s;
}

.empty-box.about-me.a1.stop::before {
    transition-duration: .3s;
    transition-delay: 1s;
}

.empty-box.about-me.a1.stop p {
    transition-delay: 1.2s;
}

.empty-box.about-me.a2::before {
    transition-duration: .3s;
    transition-delay: 1.1s;
}

.empty-box.about-me.a2.stop::before {
    transition-duration: .3s;
    transition-delay: .7s;
}

.empty-box.about-me.a3::before {
    transition-duration: .3s;
    transition-delay: 2.2s;
}

.empty-box.about-me.a3.stop::before {
    transition-duration: .3s;
    transition-delay: .5s;
}

.empty-box.about-me.a4::before {
    transition-duration: .3s;
    transition-delay: 3.7s;
}

.empty-box.about-me.a4.stop::before {
    transition-duration: .3s;
    transition-delay: .1s;
}


.empty-box.about-me>span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -6;
    width: 0%;
    height: 100%;
    transition-duration: 1s;
    background-image: linear-gradient(145deg, var(--blueHover), var(--lightBlueHover));
}

.empty-box.about-me.a1>span::before {
    left: -2px;
}

.empty-box.about-me.a2>span::before {
    width: 100%;
    height: 0%;
    top: -2px;
}


.empty-box.about-me.a1.start>span::before {
    transition-delay: 0.4s;
}

.empty-box.about-me.a1.stop>span::before {
    transition-delay: .8s;
}

.empty-box.about-me.a2.start>span::before {
    transition-delay: 1.5s;
}

.empty-box.about-me.a2.stop>span::before {
    transition-delay: .5s;
}

.empty-box.about-me.a3.start>span::before {
    transition-delay: 2.7s;
}

.empty-box.about-me.a3.stop>span::before {
    transition-delay: .3s;
}

.empty-box.about-me.a4>span::before {
    transition-delay: 3.3s;
}

.empty-box.about-me.a4.stop>span::before {
    transition-delay: .1s;
}


.empty-box.about-me.a1:hover::after {
    background-image: linear-gradient(10deg, var(--lightBlueHover), var(--blueHover));
}

.empty-box.about-me.a1.start>span::before {
    width: 100%;
}

.empty-box.about-me.a2.start>span::before {
    height: 100%;
}

.empty-box.about-me.a3.start>span::before {
    width: 100%;
}


.empty-box.about-me.start::before {
    opacity: 1;
}

.empty-box.about-me.a2 {
    background-image: linear-gradient(-145deg, var(--gr-left-gray), var(--gr-right-gray));
}

.empty-box.about-me.a3 {
    background-image: linear-gradient(145deg, var(--gr-right-gray), var(--gr-left-gray));
}

.empty-box.about-me.a4 {
    background-image: linear-gradient(-145deg, var(--gr-right-gray), var(--gr-left-gray));
}


/* .empty-box.about-me.a1::after,
.empty-box.about-me.a4::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 60%;
    transition: .3s;
    background-image: linear-gradient(90deg, #e7e7e7, var(--gr-left-gray));
}

.empty-box.about-me.a2::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    height: 80%;
    width: 10px;
    background-image: linear-gradient(90deg, #e7e7e7, var(--gr-left-gray));
} */

/* .empty-box.about-me.a3::before {
    content: '';
    position: absolute;
    left: -50%;
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 60%;
    background-image: linear-gradient(90deg, var(--gr-left-gray), #e7e7e7);
} */

.empty-box.about-me.a1>span,
.empty-box.about-me.a2>span {
    background-image: linear-gradient(90deg, #e7e7e7, var(--gr-left-gray));
}

.empty-box.about-me.a3>span {
    background-image: linear-gradient(-90deg, #e7e7e7, var(--gr-left-gray));
}

@media (max-width : 768px) {
    .empty-box.about-me.a1>span {
        left: 50% !important;
        top: 100% !important;
        transform: translateX(-50%) !important;
        height: 80% !important;
        width: 8px !important;
    }

    .empty-box.about-me.a1>span::before {
        height: 0% !important;
        width: 8px !important;
    }

    .empty-box.about-me.a1.start>span::before {
        height: 100% !important;
    }

    .empty-box.about-me.a3>span {
        left: 50% !important;
        top: -30% !important;
        transform: translateX(-50%) rotate(180deg) !important;
        height: 80% !important;
        width: 8px !important;
    }

    .empty-box.about-me.a3>span::before {
        height: 0% !important;
        width: 10px !important;
    }

    .empty-box.about-me.a3.start>span::before {
        height: 100% !important;
    }
}

@keyframes roll-in-blurred-bottom {
    0% {
        -webkit-transform: translateY(800px) rotate(720deg);
        transform: translateY(800px) rotate(720deg);
        -webkit-filter: blur(50px);
        filter: blur(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) rotate(0deg);
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
}

@keyframes roll-out-bottom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(380deg);
        transform: rotate(380deg);
        opacity: 0;
    }
}